rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /scores/{scoreId} {
      allow read: if request.auth != null;

      // La app ya no debe escribir puntajes directamente.
      // Los puntajes los escribe el servidor usando Firebase Admin SDK.
      allow create, update, delete: if false;
    }
  }
}
